<html>
<head>
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1> USD to JPY </h1>
		</div><!-- /header -->

		<div role="main" class="ui-content">
			<div class="result" style="text-align:center;"></div>
		</div><!-- /content -->

	</div>
<script>
	var result = {{ result|safe }};
	$(".result").html("<h2>" + result["USDJPY"]["Exrate"] + "</h2>");
</script>
</body>

</html>
